

.fragbody{
    background-color: #384047;
    min-height: 100vh;
    min-width: 100vh;
    max-width: 500vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_view{
    display: flex;
    flex-direction: column;
}

.top_box{
    display: flex;
    width: 13em;
    height: 3em;
    background-color: white;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-top: 0.4em solid #2F558E;
}

.top_box:hover{
    cursor: pointer;
}

.not_selected_box{
    display: flex;
    width: 13em;
    height: 3em;
    background-color: #DDDDDD;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-top: 0.4em solid #DDDDDD;
}

.not_selected_box:hover{
    cursor: pointer;
}


.log_in_view{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    background-color: #1F2327;
    padding: 1.6em;
    width: 28em;
}

.end_sign_up_view{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    background-color: #1F2327;
    padding: 1.6em;
    width: 28em;
}

.end_login_view{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    background-color: #1F2327;
    padding: 1.6em;
    width: 28em;
}

.label{
    font-size: 2em;
    font-weight: bold;
    color: white;
}

.label2{
    color: white;
    font-weight: bold;
}

.new_label{
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.submit_form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.form_top{
    color: white;
    font-size: 0.9em;
}

.user_input{
    background-color: #1F2327;
    font-size: 0.9em;
    height: 2.5em;
    border: 1px solid white;
    color: white;
    display: flex;
    flex-direction: row;
    width: 30em;
}

.user_input:checked{
    color: green;
}

.login_and_sign_up{
    display: flex;
    flex-direction: row;
}

.login_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    background-color: #3B5494;
    height: 2.2em;
}


.sign_up_view{
    display: flex;
    flex-direction: column;
    gap: 1.6em;
    background-color: #1F2327;
    padding: 1.6em;
    width: 28em;
}
.gender_form{
    color: white;
}

.new_input{
    height: 3em;
}

.error{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    font-size: 1em;
    left : 28.5em;
    bottom: 2.5em;
    width: fit-content;
    height: 0.9em;
    padding:0.7em;
    border-radius: 7px;
    background-color: #3C5F98;
}

.gender_error{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    font-size: 1em;
    left : 18.4em;
    bottom: 0.6em;
    width: fit-content;
    height: 0.9em;
    padding:0.7em;
    border-radius: 7px;
    background-color: #3C5F98;
}

.gender{
    display: flex;
    flex-direction: row;
    height: 1em;
    gap: 1em;
    width: 30em;
}

.user_input:focus{
    outline: none !important;
}

.check{
    color: green;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left :12.2em;
    bottom: 1.2em;
    width: fit-content;
}

.gender_check{
    color: green;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    position: relative;
    left : 7.1em;
    width: fit-content;
}

.login_button:hover{
    cursor: pointer;
}

/* ------------------------------------- */
/* Drop box */

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.expenses-filter {
    color: white;
    padding: 0 1rem;
  }

  .expenses-filter__control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 1.0rem;
    font-color: black;
  }

  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }